In [1]:
%load_ext blackcellmagic

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
import csv

from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from yellowbrick.text import FreqDistVisualizer, TSNEVisualizer

mpl.rcParams["figure.dpi"] = 300
%matplotlib inline
%config InlineBackend.figure_format ='retina'

/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
pd.set_option('display.max_columns', 40)

In [4]:
raw1 = pd.read_csv("../data/china_052020_tweets.csv").dropna(subset=["tweet_text"])
raw2 = pd.read_csv("../data/china_082019_1_tweets_csv_hashed.csv").dropna(
    subset=["tweet_text"]
)
raw3 = pd.read_csv("../data/china_082019_2_tweets_csv_hashed.csv").dropna(
    subset=["tweet_text"]
)

raw4 = pd.read_csv("../data/russia_052020_tweets.csv").dropna(subset=["tweet_text"])
raw5 = pd.read_csv("../data/russian_linked_tweets_csv_hashed.csv").dropna(
    subset=["tweet_text"]
)
raw6 = pd.read_csv("../data/ira_tweets_csv_hashed.csv").dropna(subset=["tweet_text"])

china_raw = pd.concat([raw1, raw2, raw3])

russia_raw = pd.concat([raw4, raw5, raw6])

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6,15,19,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,19,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
crit1 = china_raw["tweet_language"] == "en"
crit2 = china_raw["is_retweet"] == False
crit3 = ~china_raw["tweet_text"].str.startswith("RT@")

china_raw = china_raw[crit1 & crit2 & crit3].copy()

crit4 = russia_raw["tweet_language"] == "en"
crit5 = russia_raw["is_retweet"] == False
crit6 = ~russia_raw["tweet_text"].str.startswith("RT@")

russia_raw = russia_raw[crit4 & crit5 & crit6]

In [6]:
def clean_text(text):
    text = re.sub(r"http\S+", "", text)
    text = re.sub(r"\n", " ", text)
    text = re.sub(r"\'t", " not", text) # Change 't to 'not'
    text = re.sub(r'(@.*?)[\s]', ' ', text) # Remove @name
    text = re.sub(r"$\d+\W+|\b\d+\b|\W+\d+$", " ", text) # remove digits
    text = re.sub(r"[^\w\s\#]", "", text) #remove special characters except hashtags
    text = text.strip(" ")
    text = re.sub(' +',' ', text).strip() # get rid of multiple spaces and replace with a single
    return text

In [7]:
china_raw["clean_text"] = (
    china_raw["tweet_text"]
    .map(lambda text: clean_text(text))
)

russia_raw["clean_text"] = (
    russia_raw["tweet_text"]
    .map(lambda text: clean_text(text))
)

In [8]:
china_raw['word_count'] = china_raw['clean_text'].str.count(' ') + 1

russia_raw['word_count'] = russia_raw['clean_text'].str.count(' ') + 1

In [9]:
crit7 = ~china_raw["clean_text"].isnull()
crit8 = china_raw["clean_text"] != ""
crit9 = china_raw["word_count"] > 3

china_raw = china_raw[crit7 & crit8 & crit9].copy()

crit10 = ~russia_raw["clean_text"].isnull()
crit11 = russia_raw["clean_text"] != ""
crit12 = russia_raw["word_count"] > 3

russia_raw = russia_raw[crit10 & crit11 & crit12].copy()

In [10]:
cols = ['tweetid', 'user_display_name', 'tweet_text','clean_text']

china = china_raw[cols].copy()

russia = russia_raw[cols].copy()

In [11]:
# optional: if you want to save the full set for future samples
#china.to_csv("../data/china_trolls_full.csv", index=False)
#russia.to_csv("../data/russia_trolls_full.csv", index=False)

In [12]:
china_sample = china.sample(n=25000, random_state=42, replace=False)

russia_sample = russia.sample(n=25000, random_state=42, replace=False)

troll_sample = pd.concat([china_sample, russia_sample])

In [13]:
troll_sample["troll_or_not"] = 1

In [14]:
troll_sample.shape

(50000, 5)

In [15]:
troll_sample.head()

,tweetid,user_display_name,tweet_text,clean_text,troll_or_not
332962,1245883557362282497,85c9M6CDZxgBwoEye0rF12ZBgGl3xvz6Bnbvhp7MUKI=,"having each tiny wish come true, or having som...",having each tiny wish come true or having some...,1
417285,961577921461866496,曲剑明,＠null It is 12:25 UTC now,null It is UTC now,1
992674,941616158075211776,IFL1E0m0SRX2cdOtuLFV7xKtnBgxagKzNgkuGFvNtvs=,British number two Bedene to switch back to Sl...,British number two Bedene to switch back to Sl...,1
135543,850414479976345600,Klausv,kalamitykait Thanks for bearing with us - you ...,kalamitykait Thanks for bearing with us you sh...,1
463169,960784360071925760,曲剑明,＠null It is 08:56 CET now,null It is CET now,1

In [17]:
"""
troll_sample.to_csv(
    "../data/troll_50k.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_NONNUMERIC,
)
"""