In [1]:
%load_ext blackcellmagic

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
import seaborn as sns

from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from yellowbrick.text import FreqDistVisualizer, TSNEVisualizer

mpl.rcParams["figure.dpi"] = 300
%matplotlib inline
%config InlineBackend.figure_format ='retina'

/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
raw1 = pd.read_csv("../data/china_sample1.csv").dropna(subset=["clean_text"])

raw2 = pd.read_csv("../data/china_sample2.csv").dropna(subset=["clean_text"])

raw3 = pd.read_csv("../data/china_sample3.csv").dropna(subset=["clean_text"])

raw4 = pd.read_csv("../data/china_sample4.csv").dropna(subset=["clean_text"])

china_sample = pd.concat([raw1, raw2, raw3, raw4])

In [4]:
raw5 = pd.read_csv("../data/us_sample1.csv").dropna(subset=["clean_text"])

raw6 = pd.read_csv("../data/us_sample2.csv").dropna(subset=["clean_text"])

us_sample = pd.concat([raw5, raw6])

In [5]:
us_sample.shape, china_sample.shape

((150015, 4), (167055, 4))

In [6]:
china_sample.isnull().sum()

tweetid              0
user_display_name    0
tweet_text           0
clean_text           0
dtype: int64

In [7]:
us_sample.isnull().sum()

tweetid              0
user_display_name    0
tweet_text           0
clean_text           0
dtype: int64

In [8]:
real_sample = pd.concat([us_sample, china_sample])

real_sample["troll_or_not"] = 0

In [10]:
real_sample.tail()

,tweetid,user_display_name,tweet_text,clean_text,troll_or_not
31686,1189938578459111425,austinramzy,Story here. Not clear at this point exactly wh...,Story here Not clear at this point exactly wha...,0
31687,1189906589148471296,austinramzy,"Lots of tear gas in Central now, sending the c...",Lots of tear gas in Central now sending the cr...,0
31688,1189885751909068800,austinramzy,Marchers passing through Wanchai https://t.co/...,Marchers passing through Wanchai,0
31689,1189880498757214208,austinramzy,Xi Jinping/Winnie the Pooh https://t.co/0dPjaz...,Xi JinpingWinnie the Pooh,0
31690,1189874865500766210,austinramzy,Protesters in Halloween masks streaming out of...,Protesters in Halloween masks streaming out of...,0

In [11]:
real_sample.shape

(317070, 5)

In [12]:
# real_sample.to_csv("../data/real_sample317k.csv", index=False)