In [1]:
%load_ext blackcellmagic

In [2]:
import numpy as np
import pandas as pd
import csv

In [3]:
troll = (
    pd.read_csv("../data/troll_sample500k.csv")
    .sample(n=300000, random_state=42, replace=False)
)

real = (
    pd.read_csv("../data/real_sample317k.csv")
    .sample(n=300000, random_state=42, replace=False)
)

tweets = pd.concat([troll, real])

In [4]:
tweets.shape

(600000, 5)

In [5]:
tweets.isnull().sum()

tweetid              0
user_display_name    0
tweet_text           0
clean_text           0
troll_or_not         0
dtype: int64

In [6]:
tweets.head()

,tweetid,user_display_name,tweet_text,clean_text,troll_or_not
104241,1127654960915734528,James albert,RT sports9511: How to watch online : San Diego...,RT sports9511 How to watch online San Diego Pa...,1
199676,693094686974570496,Lily Mann,How Much Ongoing Support -- and What Kinds -- ...,How Much Ongoing Support and What Kinds Should...,1
140199,964240875722301440,曲剑明,＠null It is 21:50 CET now,null It is CET now,1
132814,869125810334179328,春天里,": #rtl ehm,sorry. I'll show up this night, if ...",#rtl ehmsorry Ill show up this night if you do...,1
408697,485477116125773824,7d87a814b4c26497e4e7a13047bc7f52452cb2566a939f...,dine getting on his girlfriend page its feels ...,dine getting on his girlfriend page its feels ...,1

In [7]:
'''
tweets.to_csv(
    "../data/state_real_tweets600k.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_NONNUMERIC,
)
'''

In [8]:
validate = tweets.sample(n=6000, random_state=42, replace=False)

In [9]:
validate["troll_or_not"].value_counts()

0    3055
1    2945
Name: troll_or_not, dtype: int64

In [10]:
validate_id = validate['tweetid'].values

# The tweetids are unique, so removing these ids from the main dataset
# will give us the raw training dataset, which will then be further split into train_test

train_raw = tweets[~tweets['tweetid'].isin(validate_id)]

In [11]:
train_raw['troll_or_not'].value_counts()

1    297055
0    296736
Name: troll_or_not, dtype: int64

In [12]:
'''
train_raw.to_csv(
    "../data/train_raw.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_NONNUMERIC,
)
'''

In [13]:
'''
validate.to_csv(
    "../data/validate.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_NONNUMERIC,
)
'''